html,
body {
	background-color: #99CCFF;
	font-family: 'Text Me One', sans-serif;
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	height:100%;
}

.title {
	font-size: 52px;
	color: #784A2E;
}

#container {
	min-height:100%;
	position:relative;
	max-width: 700px;
	margin: 0 auto;
}

#header {
	text-align: center;
	font-size: 30px;
	color: #784A2E;
	padding-bottom:40px;	/* Height of the footer */
}

#body {
	padding:10px;
}

.email-address a{
	color: #808080;
}

a {
	text-decoration: none;
}

img {
    max-width:500px;
}


.logo-container {
   width:400px;
   height:300px;
   position:relative;
   display:block;
   margin:auto;
}

.logo-container img{
   position:absolute;
   left:0;
   top:0;
   display:block;
   z-index:2;
}

#hebrew {
	font-size: 15px;
   position:absolute;
   width: 100%;
   top:120px;
   display:block;
	text-align: center;
}

ul {
   list-style-type:none;
   margin:0;
   padding:0;
}
li {
   display:inline;
}

li a {
	color: #808080;
}
li a:hover {
	color: #806575;
}

.section{
	padding-bottom:40px;
}

#body p {
	color: #606663;
	font-size: 20px;
}

#body .entry-logo {
	width:70px;
}

#body h1 {
	margin: 20px;
	color: rgb(70, 55, 46);
	font-size: 27px;
}

#body a {
	color: rgb(162, 102, 37);
	font-size: 20px;
}

a.chosen-menu {
	color:rgb(77, 41, 41);
}

#body a:hover {
	color: #618132;
	font-size: 20px;
}
