html,
body {
	background-color: #99CCFF;
	background-color: #171D24;
   background-color: #FFFBED;
   background-color: #C4C4C4;
   background-color: #00B87D;
	font-family: 'Text Me One', sans-serif;
	margin:0;
	padding:0;
	height:100%;
}

.title {
	font-size: 52px;
	color: #784A2E;
}

#container {
	min-height:100%;
	position:relative;
	max-width: 700px;
	margin: 0 auto;
}

#header {
	text-align: center;
	font-size: 22px;
	color: #3d3d3d;
   color: #00B87D;
	padding-bottom:40px;	/* Height of the footer */
}
#logo-container {
	padding-bottom:40px;	/* Height of the footer */
}
#logo-container a{
	font-size: 22px;
   color: #00B87D;
}

#logo-container a:hover {
	color: #3d3d3d;
	color: #A3FF00;
}

#body {
	padding:10px;
}

.email-address a{
	color: #808080;
}

a {
	text-decoration: none;
}

img {
    max-width:500px;
}


.logo-container {
   width:400px;
   height:120px;
	font-size: 14px;
   position:relative;
   display:block;
   margin:auto;
}

.logo-container img{
   position:absolute;
   left:0;
   top:0;
   display:block;
   z-index:2;
}

#hebrew {
	font-size: 15px;
   position:absolute;
   width: 100%;
   top:120px;
   display:block;
	text-align: center;
}

ul {
   list-style-type:none;
   margin:0;
   padding:0;
}
li {
   display:inline;
}

li a {
	color: #BE0E0E;
	color: #CC5757;
}
li a:hover {
	color: #7D068D;
	color: #A3FF00;
}

.section{
	padding-bottom:40px;
}

#body p {
	color: #606663;
	color: #575757;
	color: #ABFF4F;
	color: #DCFF93;
	color: #54FFC1;
	font-size: 20px;
}

#body .entry-logo {
	width:50px;
}

#body h1 {
	margin: 17px;
	color: rgb(70, 55, 46);
   color:rgb(186, 199, 191);
   color:rgb(199, 204, 185);
   color:rgb(36, 156, 65);
   color:rgb(99, 131, 70);
   color:rgba(107, 37, 93, 1);
   color:rgba(104, 26, 26, 1);
	color: #0A0A0A;
	color: #303C3A;
	font-size: 24px;
}

#body h2 {
   color:rgb(186, 199, 191);
   color:rgb(99, 131, 70);
	color: #0F717E;
}

#body a {
	color: rgb(162, 102, 37);
	color: #82FF62;
	font-size: 20px;
}

a.chosen-menu {
	color:rgb(77, 41, 41);
	color: #E9004B;
	color: #00FF7A;
}

#body a:hover {
	color: #618132;
	color: #FFB4A1;
	color: #E9004B;
	font-size: 20px;
}
