{% extends "base.html" %}
{% block content %}
<p>My name is Eithan Shavit. I am a Software Engineer at Arista Networks.</p>
<p>To pass the time I don't have between work and married life, I create tiny
projects. The purpose of these projects is mainly to learn and gain experience
in new technologies.</p>
<p>This website for instance, is built using Python Flask and Jinja2.
Not that it's really needed for such a simple website, but I wanted to learn the
basics of Flask.</p>
<p><span>Please contact me at</span><span style="color:rgb(77,41,41);"> oogiyot at
gmail dot com</span></p>
{% endblock %}
