{% extends "base.html" %}
{% block content %}
<p>My name is Eithan Shavit. I am a Software Engineer at Arista Networks.</p>
<p>To pass the time that I don't have between work and married life, I create tiny projects. The purpose of these projects is primarily to learn and gain experience in new technologies.</p>
<p>For instance, I built this simple website using Python Flask and Jinja2, just for learning sake.</p>
<p>I trained as an Electrical Engineer, but was always really into software, so some of these projects combine the two worlds.</p>
<p><span>Please contact me at</span><span style="color:#BCFFAB;"> EithanShavit at gmail dot com</span></p>
{% endblock %}
