{% extends "base.html" %}
{% block content %}
<div class="section">
<table>
<tr>
	<td>
		  <img class="entry-logo" alt="" src="{{ url_for( 'static', filename='images/today.png') }}"/>
	</td>
	<td>
			<h1>Today</h1>
	</td>
<tr>
</table>
<p>iOS application which is currently under development. It is a calendar application
focused on today's events. Design and user experience are key ingredients here,
so I'm working on this as a collaborative project with a graphic designer. I
want this to be visually appealing and easy to use, as I feel most mobile
calendar apps tend to have too much information.</p>
<p>Again, the goal here is to learn about iOS development, and to create a nice
and useful app.</p>
</div>
<div class="section">
<table>
<tr>
	<td>
		  <img class="entry-logo" alt="" src="{{ url_for( 'static', filename='images/quickconn.png') }}"/>
	</td>
	<td>
			<h1>QuickConn</h1>
	</td>
<tr>
</table>
 <p>An Android application designed to allow very quick access to your favorite contacts.  Just press and hold the search button to display a quick list of your starred contacts. This is very useful for old Android phones with a search button.</p>
 <p>This app was built in 2010, and is since poorly maintained due to lack of time. But it is still on Google Play, and you are welcome to download it for free.</p>
 <p>I wrote it mainly to learn more about Java and the Android SDK, but
also because calling my favorite contacts on my Galaxy S was really slow.</p>
</div>
{% endblock %}
