<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
   <link href='http://fonts.googleapis.com/css?family=Text+Me+One|Roboto' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" media="screen" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/fancybox/source/jquery.fancybox.css') }}" media="screen" />
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20079446-1']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
   <title>Eithan Shavit</title>
</head>
<body>
<div id="container">
   <div id="header">
      <!-- Header start -->
      <div class="logo-container">
      "Also, my rug was stolen."<br>-- The Dude.
      </div>
      <div class="menu">
      <ul>
      {% for item in menu %}
				  {% if item.name == page %}
					  <li><a class="chosen-menu" href={{item.link}}>{{item.name}}</a></li>
				  {% else %}
					  <li><a href={{item.link}}>{{item.name}}</a></li>
				  {% endif %}
      {% endfor %}
      </ul>
      </div>
      <!-- Header end -->
   </div>
   <div id="body">
      <!-- Body start -->
      {% block content %}{% endblock %}
      <!-- Body end -->
   </div>
</div>
</body>
<script type="text/javascript">
   $(document).ready(function() {
      $(".fancybox").fancybox();
   });
</script>
</html>
