{% extends "base.html" %}
{% block content %}
<div class="section">
<table>
<tr>
	<td>
		  <img class="entry-logo" alt="" src="static/images/adidas.png"/>
	</td>
	<td>
			<h1>theElegantSports.com</h1>
	</td>
<tr>
</table>
<p>e-commerce website for Adidas gymnastics clothing.</p>
<p>Running on an old Coldfusion code base, this websites requires a lot of 
maintenance and added features which I am responsible for, as well as server
maintenance and general web admin. What makes this project interesting in my
eyes, is that I needed to learn a new Web development language and framework from
scratch.
<p>This is the first large scale website with active international customers that I
am solely resposible for. It's a challenging and rewarding experience.</p>
<a href="http://www.theelegantsports.com">www.theElegantSports.com</a>
</div>
<div class="section">
<table>
<tr>
	<td>
		  <img class="entry-logo" alt="" src="static/images/zeshesham.png"/>
	</td>
	<td>
			<h1>zeshesham.com</h1>
	</td>
<tr>
</table>
<p>This is a customized WordPress PHP website.</p>
<p>It is a recipe blog, combined with creative short stories. My good friend is
the writer, cook, and photographer, while I build and maintain the website, and
edit the photos.</p>
<p>To develop and launch the website, I used an Amazon Web Services VPS. 
Since this is a non-profit website, the virtual server we used had very limited
resources. This brought up some scalability challenges, as more and more people
started to use our website. To run a real website on a VM with less than 5% CPU time and 600Mb RAM,
some MySql, Apache and virtual memory tricks were used. When development was
done, we moved to a shared hosting solution in order to save some money.</p>
<p>It's great fun working on such a website that combines art, food, and web
development.</p>
<a href="http://www.zeshesham.com">Visit us here!</a>
</div>
<div class="section">
<table>
<tr>
	<td>
		  <img class="entry-logo" alt="" src="static/images/alef.png"/>
	</td>
	<td>
			<h1>www.eithanshavit.com</h1>
	</td>
<tr>
</table>
<p>This site!</p>
<p>Created using Python Flask and Jinja2. It is running on Google App
Engine.</p>

</div>
{% endblock %}
